<div class="container background-gold">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="{{imagePath}}" alt="caesar cipher image" class="title-image"/>
    <h1 class="title">{{title}}</h1>
  </div>
  <div class="card-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="card-title">Encode Message</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field appearance="fill" fxFlex="250px">
            <mat-label>Input your message</mat-label>
            <input
              matInput
              type="text"
              id="inputText"
              name="inputText"
              placeholder="Your message"
              class="form-control"
              [(ngModel)]="inputText">
          </mat-form-field>

          <mat-form-field appearance="fill" fxFlex="250px">
            <mat-label>Input shift value</mat-label>
            <input
              matInput
              type="text"
              id="shiftValue"
              name="shiftValue"
              placeholder="Your shift value"
              class="form-control"
              [(ngModel)]="shiftValue">
          </mat-form-field>

          <button
            mat-icon-button
            class="custom-centered-button"
            color="custom-arrow"
            (click)="isLoading = true; encodeInput();">
            <mat-icon>arrow_forward</mat-icon>
          </button>

          <mat-form-field appearance="fill" fxFlex="250px">
            <mat-label>This is the encoded message</mat-label>
            <input
              matInput
              type="text"
              placeholder="Encoded message"
              name="encodedText"
              class="form-control"
              [(ngModel)]="encodedText"
            >
          </mat-form-field>

          <button mat-flat-button (click)="clear()">Clear</button>

          <mat-progress-spinner
            mode="indeterminate"
            *ngIf="isLoading">
          </mat-progress-spinner>

        </form>
      </mat-card-content>
    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center center" class="button">
      <button
        mat-flat-button
        class="custom-toggle-button"
        (click)="showDecodeBlock = !showDecodeBlock"
        *ngIf="!showDecodeBlock"
      >
        {{ showDecodeBlock ? 'Hide' : 'Let me decode the message'}}
      </button>
    </div>

    <mat-card class="card" *ngIf="showDecodeBlock">
      <mat-card-header>
        <mat-card-title class="card-title">Decode Message</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form fxLayout="row" fxLayoutAlign="center center">
          <div *ngIf="showDecodeBlock">
            <mat-form-field appearance="fill" fxFlex="250px">
              <mat-label>This is the encoded message</mat-label>
              <input
                matInput
                type="text"
                placeholder="Encoded message"
                class="form-control"
                name="encodedText"
                [(ngModel)]="encodedText">
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="250px">
              <mat-label>Input shift value</mat-label>
              <input matInput
                     type="text"
                     name="shiftValue"
                     placeholder="Your shift value"
                     class="form-control"
                     [(ngModel)]="shiftValue">
            </mat-form-field>

            <button
              mat-icon-button
              class="custom-centered-button custom-arrow"
              (click)="isLoading = true; decodeInput();">
              <mat-icon>arrow_forward</mat-icon>
            </button>

            <mat-form-field appearance="fill" fxFlex="250px">
              <mat-label>This is the decoded message</mat-label>
              <input
                matInput
                type="text"
                placeholder="Decoded message"
                class="form-control"
                name="decodedText"
                [(ngModel)]="decodedText">
            </mat-form-field>

            <button
              mat-flat-button
              class="custom-centered-button"
              (click)="clear()">
              Clear
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center center" class="background-black" *ngIf="showDecodeBlock">
      <button
        mat-flat-button
        class="custom-toggle-button"
        (click)="(showDecodeBlock = false) && clear()"
      >
        {{ showDecodeBlock ? 'Hide ': ''}}
      </button>
    </div>


  </div>
</div>
