
html, body {
  height: 100%;
  min-width: 1000px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Palatino Linotype", Palatino, serif;
  background: #9c7423;
}

*{
  font-family: "Palatino Linotype", Palatino, serif;

}


/* CUSTOM COLORS */
/* --blue: #1f2d44 */
/* --grey-blue: #445c70 */
/* --camel: #c7a060 */
/* --beige: #e3cfb9 */
/* --gold: #9c7423 */



/* global styles */
.background-gold {
  background: #9c7423;
}

.title {
  text-align: center;
  color: white;
}

/*typography & layout*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 50%;
  max-width: 1000px;
  margin: 1em;
}


.card-container > * {
  width: 100%;
}

.card-title{
  color: #1f2d44;
  padding-bottom: 10px;
  font-family: "Palatino Linotype", Palatino, serif;
  font-weight: bold;
}

mat-label{
  color: #1f2d44;
}

/* image*/
.title-image{
  height: 100px;
  border-radius: 70%;
  padding: 10px;
}

/*buttons*/

.custom-color-camel{
  color: #9c7423;
}

.custom-toggle-button {
  background-color: white;
  color: black;
  border: 2px black;
  border-radius: 20px;
}

.custom-centered-button{
  align-self: center;
}

/*decode section*/
.decode-container {
  text-align: center;
}

.decode-container > * {
  margin: 1em;
}












